<!doctype html>
<html lang="en">
    <head>
    
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />

  
  <meta
    name="csrf-token"
    content="IO7ot632rq6IGlzhbwAwXrOYzVDloI0Rm6DyrSyy"
  />
  <title>Blockmolders || We Lead</title>
  <meta
    name="description"
    content="Blockmolders is a company regulated by the Securities and Exchange Commision (SEC).

hyip, bitcoin, investment,  hyip business, hyip script, best hyip, buy hyip script, advanced hyip script, hyip software, high yield investment program, hyip manager, hyip manager script, cheap hyip script, reliable hyip, secure hyip script, php hyip script, new hyip script, hyip program"
  />
  <meta
    name="keywords"
    content="hyip,bitcoin,investment,hyip business,best hyip,hyip software,high yield investment program,hyip manager,reliable hyip,hyip program"
  />
  <link rel="shortcut icon" href="images/favicon_1.png" type="image/x-icon" />

  <link rel="apple-touch-icon" href="images/logo.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="Blockmolders - Home" />

  <meta itemprop="name" content="Blockmolders - Home" />
  <meta itemprop="description" content />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="Blockmolders - Invest in your goals" />
  <meta
    property="og:description"
    content="Blockmolders is a company regulated by the Securities and Exchange Commision (SEC)."
  />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="315" />

  <meta name="twitter:card" content="summary_large_image" />

  
  <link rel="shortcut icon" href="images/favicon.png" />

  
  <link href="css/css.css" rel="stylesheet" />

  
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/meanmenu.min.css" />
  <link rel="stylesheet" href="css/simple-scrollbar.css" />
  <link rel="stylesheet" href="css/odometer-theme-default.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/lightcase.css" />
  <link rel="stylesheet" href="css/jquery.jConveyorTicker.min.css" />
  <link rel="stylesheet" href="css/fontawesome.all.min.css" />
  <link rel="stylesheet" href="css/flaticon.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/all.min.css" />
  <link rel="stylesheet" href="css/line-awesome.min.css" />
  <link rel="stylesheet" href="css/animate.min.css" />
  <link rel="stylesheet" href="css/slick.css" />
  <link rel="stylesheet" href="css/dots.css" />
  <link rel="stylesheet" href="https://blockmolders.com/color.php" />

  <script src="js/modernizr.min.js"></script>
</head>


<body>
       
    
    <div class="loader-wrapper">
      <div class="text-center middle">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
    
    
    <div class="site-content">
        <header class="site-header header-style-one">
  <div class="site-navigation style-one">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="navbar navbar-expand-lg navigation-area">
            <div class="site-branding">
              <a class="site-logo" href="blockmolders_default.html">
                <img
                  src="images/favicon.png"
                  alt="Site Logo"
                  width="40"
                  height="5"
                />
              </a>
            </div>

            <div class="mainmenu-area">
              <nav class="menu">
                <ul id="nav">
                  <li><a href="blockmolders_default.html">Home</a></li>
                  
                    <li><a href="register.htm">Mining Plan</a></li>
                

                  <li><a href="about.htm">About</a></li>
                  <li><a href="faq.htm">FAQ</a></li>
                  <li><a href="contact.htm">Contact</a></li>

                  
                    <li><a href="register.htm">Register</a></li>
                    <li><a href="login.htm">Login</a></li>
                
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mobile-menu">
            <a class="mobile-logo" href="blockmolders_default.html">
              <img
                src="images/favicon.png"
                alt="Site Logo"
                width="40"
                height="5"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


        <div class="page-title-area bg-overlay bg-image ptb-120" style="background-image: url(&#x27;images/1.jpg&#x27;)">
            <div class="container ml-b-5 ml-t-15">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <div class="page-header-caption">
                                <h2 class="page-title">Contact Us</h2>
                            </div>
                            
                            <div class="breadcrumb-area">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="blockmolders_default.html">Home</a></li>  
                                    <li class="breadcrumb-item active">Contact Us</li>
                                </ol>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="contact-info-block ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h4 class="sub-title">Contact Us</h4>
                            <h2 class="title-main">Don’t be shy to <span>Contact us</span></h2>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-12">  
                        <div class="contact-form-area">
                            <form id="contact_form" class="contact-form" aaction method="post">
                              <input type="hidden" name="_token" value="h1PPdx0OeUU1vT6wqPBeFeecxrLpTPcyVG4gdBhR">                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" name="name" placeholder="Full Name" class="form-controller">
                                        </div>
                                    </div><!--./ col-12-->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email Address" class="form-controller">
                                        </div>
                                    </div><!--./ col-12 -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input name="subject" placeholder="Subject" class="form-controller">
                                        </div>
                                    </div><!--./ col-12 -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-controller" name="message" placeholder="Message"></textarea>
                                        </div>
                                    </div><!-- /.col-12 -->
                                    <div class="col-12 mrt-15">
                                        <button type="button" class="btn btn-default w-100">Send Message</button>
                                    </div><!--./ col-lg-6 -->
                                </div><!-- /.row -->
                            </form><!-- /.contact-form -->
                        </div><!-- /.contact-form-area -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>

        <footer class="site-footer pd-t-120 mrt-70">
            
    <div class="footer-info-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-info-content">
              <div class="row ml-b-30">
                <div class="col-lg-4 col-md-6">
                  <div class="single-info">
                    <div class="icon">
                      <span class="flaticon-placeholder"></span>
                    </div>
                    <div class="info">
                      <h5>Address</h5>
                      <p>
                        21 Rue Glesener, 1631 Luxembourg
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-info"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-info">
                    <div class="icon">
                      <span class="flaticon-envelope"></span>
                    </div>
                    <div class="info">
                      <h5>Email</h5>
                      <p>
                        <a href="mailto:support@blockmolders.com"
                          >support@blockmolders.com</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        
    <div class="footer-widget-area pd-b-60">
      <div class="container pd-t-70">
        <div class="row">
          <div class="col-lg-4">
            <aside class="widget widget_about">
              <h2 class="widget-title">
                About Us <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <p>
                  Blockmolders is a company regulated by the Securities and
                  Exchange Commision (SEC).
                </p>
              </div>
            </aside>
          </div>

          <div class="col-lg-2">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                Services <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li><a hrefs="/">Forex</a></li>
                  <li>
                    <a hrefs="/">Synthetic indices</a>
                  </li>
                  <li>
                    <a hrefs="/">Stock indices</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>

          <div class="col-lg-2">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                Useful Link <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li>
                    <a href="about.htm">About Us</a>
                  </li>

                 

                  
                    <li><a href="register.htm">Investment Plan</a></li>
                

                  <li>
                    <a href="contact.htm">Contact Us</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
          

          <div class="col-lg-4">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                account<span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li><a href="login.htm">Login</a></li>
                  <li>
                    <a href="register.htm">Register</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>

        
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text text-center">
              <p>
                © 2021 <a hrefs="/">Blockmolders</a>.
                All rights reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>



<div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/meanmenu.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/background-parallax.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/theia-sticky-sidebar.min.js"></script>
<script src="js/ResizeSensor.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/packery-mode.pkgd.min.js"></script>
<script src="js/simple-scrollbar.min.js"></script>
<script src="js/scrolla.jquery.min.js"></script>
<script src="https://futuretrades.co/assets/templates/bit_gold//assets/js/odometer.min.js"></script>
<script src="js/lightcase.js"></script>
<script src="js/isInViewport.jquery.js"></script>
<script src="https://futuretrades.co/assets/templates/bit_gold//assets/js/jquery.jConveyorTicker.min.js"></script>
<script src="js/main.js"></script>
<script src="https://futuretrades.co/assets/templates/bit_gold//js/vendor/bootstrap.bundle.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/app.js"></script>

<link rel="stylesheet" href="css/iziToast.min.css" />
<script src="js/iziToast.min.js"></script>

<script>
  "use strict";
  function notify(status, message) {
    iziToast[status]({
      message: message,
      position: "topRight",
    });
  }
</script>

<script>
  (function ($) {
    "use strict";
    $(document).ready(function () {
      $("#changePlan").on("change", function () {
        var planId = $("#changePlan option:selected").val();
        var investAmount = $(".invest-input").val();
        var profitInput = $(".profit-input").val("");

        $(".period").text("");

        if (investAmount != "" && planId != null) {
          ajaxPlanCalc(planId, investAmount);
        }
      });

      $(".invest-input").on("change", function () {
        var planId = $("#changePlan option:selected").val();
        var investAmount = $(this).val();
        var profitInput = $(".profit-input").val("");
        $(".period").text("");
        if (investAmount != "" && planId != null) {
          ajaxPlanCalc(planId, investAmount);
        }
      });
    });
    function ajaxPlanCalc(planId, investAmount) {
      $.ajax({
        url: "https://futuretrades.co/planCalculator",
        type: "post",
        data: {
          planId,
          investAmount,
        },
        success: function (response) {
          var alertStatus = "";
          if (response.errors) {
            iziToast.error({
              message: response.errors,
              position: "topRight",
            });
          } else {
            var msg = `${response.description}`;
            $(".profit-input").val(msg);
            if (response.netProfit) {
              $(".period").text("Net Profit " + response.netProfit);
            }
          }
        },
      });
    }
  })(jQuery);
</script>

<script>
  (function ($) {
    "use strict";
    $(document).on("click", ".investButton", function () {
      var data = $(this).data("resource");
      var symbol = "$";
      var currency = "USD";

      $("#mySelect").empty();

      if (data.fixed_amount == "0") {
        $(".investAmountRenge").text(
          `invest: ${symbol}${data.minimum} - ${symbol}${data.maximum}`
        );
        $(".fixedAmount").val("");
        $("#fixedAmount").attr("readonly", false);
      } else {
        $(".investAmountRenge").text(
          `invest: ${symbol}${data.fixed_amount}`
        );
        $(".fixedAmount").val(data.fixed_amount);
        $("#fixedAmount").attr("readonly", true);
      }

      if (data.interest_status == "1") {
        $(".interestDetails").html(
          `<strong> Interest: ${data.interest} % </strong>`
        );
      } else {
        $(".interestDetails").html(
          `<strong> Interest: ${data.interest} ${currency}  </strong>`
        );
      }
      if (data.lifetime_status == "0") {
        $(".interestValidaty").html(
          `<strong>  per ${data.times} hours ,  ${data.repeat_time} times</strong>`
        );
      } else {
        $(".interestValidaty").html(
          `<strong>  per ${data.times} hours,  life time </strong>`
        );
      }

      $(".planName").text(data.name);
      $(".plan_id").val(data.id);
    });
  })(jQuery);
</script>

<script>
  (function () {
    "use strict";
    $(document).on("change", ".langSel", function () {
      window.location.href =
        "https://futuretrades.co/change/" + $(this).val();
    });
  })();
</script>

<!-- <script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = "4cb8546968613611303eca35a60b7fba3f60ad64";
  window.smartsupp ||
    (function (d) {
      var s,
        c,
        o = (smartsupp = function () {
          o._.push(arguments);
        });
      o._ = [];
      s = d.getElementsByTagName("script")[0];
      c = d.createElement("script");
      c.type = "text/javascript";
      c.charset = "utf-8";
      c.async = true;
      c.src = "https://www.smartsuppchat.com/loader.js?";
      s.parentNode.insertBefore(c, s);
    })(document);
</script> -->


<center>
        
  <div id="google_translate_element"></div>
</center>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</div>

</body>
</html>