<!DOCTYPE html><html lang="en"><head>
    
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  
  <meta name="csrf-token" content="IO7ot632rq6IGlzhbwAwXrOYzVDloI0Rm6DyrSyy">
  <title>Blockmolders || We Lead</title>
  <meta name="description" content="Blockmolders is a company regulated by the Securities and Exchange Commision (SEC).

hyip, bitcoin, investment,  hyip business, hyip script, best hyip, buy hyip script, advanced hyip script, hyip software, high yield investment program, hyip manager, hyip manager script, cheap hyip script, reliable hyip, secure hyip script, php hyip script, new hyip script, hyip program">
  <meta name="keywords" content="hyip,bitcoin,investment,hyip business,best hyip,hyip software,high yield investment program,hyip manager,reliable hyip,hyip program">
  <link rel="shortcut icon" href="images/favicon_1.png" type="image/x-icon">

  <link rel="apple-touch-icon" href="images/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Blockmolders - Home">

  <meta itemprop="name" content="Blockmolders - Home">
  <meta itemprop="description" content="">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Blockmolders - Invest in your goals">
  <meta property="og:description" content="Blockmolders is a company regulated by the Securities and Exchange Commision (SEC).">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="315">

  <meta name="twitter:card" content="summary_large_image">

  
  <link rel="shortcut icon" href="images/favicon.png">

  
  <link href="css/css.css" rel="stylesheet">

  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/meanmenu.min.css">
  <link rel="stylesheet" href="css/simple-scrollbar.css">
  <link rel="stylesheet" href="css/odometer-theme-default.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/lightcase.css">
  <link rel="stylesheet" href="css/jquery.jConveyorTicker.min.css">
  <link rel="stylesheet" href="css/fontawesome.all.min.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/line-awesome.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/dots.css">
  <link rel="stylesheet" href="color.php">

  <script src="js/modernizr.min.js"></script>
</head>


  <body>
      <div>
      <div class="text-center middle">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>
    </div> 

    <div class="site-content">
      <header class="site-header header-style-one">
  <div class="site-navigation style-one">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="navbar navbar-expand-lg navigation-area">
            <div class="site-branding">
              <a class="site-logo" href="/">
                <img src="images/favicon.png" alt="Site Logo" width="40" height="5">
              </a>
            </div>

            <div class="mainmenu-area">
              <nav class="menu">
                <ul id="nav">
                  <li><a href="/">Home</a></li>
                  
                    <li><a href="register">Mining Plan</a></li>
                

                  <li><a href="about">About</a></li>
                  <li><a href="faq">FAQ</a></li>
                  <li><a href="contact">Contact</a></li>

                  
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Login</a></li>
                
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mobile-menu">
            <a class="mobile-logo" href="/">
              <img src="images/favicon.png" alt="Site Logo" width="40" height="5">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


      <div id="hero-block" class="hero-block bg-image bg-parallax bg-overlay" style="background-image: url('images/hero.jpg')">
        <div class="animation-circle-inverse left">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="animation-circle-inverse right">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-9">
              <div class="hero-content-area ptb-120">
                <div class="sub-heading-area">
                  <h4 class="sub-heading">Welcome</h4>
                </div>
                <div class="title-area">
                  <h2 class="hero-title">
                    Invest Towards <span>Your Goals.</span>
                  </h2>
                </div>
                <div class="hero-desc">
                  <p>
                    We offer you a secure way to put money aside for the things
                    you want, make more profits on your investments over time..
                  </p>
                </div>
                <div class="form-group-btn">
                  <a class="btn btn-default" href="register">Register</a>
                  <a class="btn btn-default btn-white" href="login">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            
      <div class="about-us-block ptb-120">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="about-text-content">
                <div class="section-title">
                  <h4 class="sub-title">About Us</h4>
                  <h2 class="title-main">
                    Relax, Let Your Money <br><span>Work For You.</span>
                  </h2>
                  <div class="divider"></div>
                </div>
                <div class="about-info-content">
                  <p>
                    Blockmolders is a company regulated by the Securities and
                    Exchange Commision (SEC). We are the best because we allow
                    current and aspiring investors purchase securities and other
                    related instruments without the aid of a broker.
                  </p>
                  <a class="btn btn-default" href="about">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="mock-up-thumb md-mrt-55">
                <img src="images/about2.jpg" alt="About Mock">
                <div class="video-btn-area">
                  <a href="https://futuretrades.co/assets/MACROSWIFT.mp4" data-rel="lightcase" class="video-btn">
                    <span class="fas fa-play"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="featured-block pd-b-120">
        <div class="container">
          <div class="row ml-b-40">
            <div class="col-lg-4">
              <div class="feature-info">
                <h3 class="heading">Goal Based Investments</h3>
                <p>
                  Setup a scheduled plan to automate your investments towards
                  your financial goal.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-info">
                <h3 class="heading">Group Goals</h3>
                <p>
                  Go further together with group goals, invest with your squad,
                  partner or community.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="feature-info">
                <h3 class="heading">One-time Investments</h3>
                <p>
                  If you're not into Direct Debit, put your money to work with a
                  lump sum one-time investment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
            
        
      <div class="services-block bg-white-smoke ptb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-title text-center">
                <h4 class="sub-title">What we offer</h4>
                <h2 class="title-main">
                  At Your Side, <span>Every Day.</span>
                </h2>
                <div class="divider"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="services-items-carousel owl-carousel carousel-nav-circle">
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-copy"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">Legal Company</a>
                    </h3>
                    <p>
                      Our company conducts absolutely legal activities in the
                      legal field. We are certified to operate investment
                      business, we are legal and safe.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-lock"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">High reliability</a>
                    </h3>
                    <p>
                      We are trusted by a huge number of people. We are working
                      hard constantly to improve the level of our security
                      system and minimize possible risks.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-user-lock"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">Anonymity</a>
                    </h3>
                    <p>
                      Anonymity and using cryptocurrency as a payment
                      instrument. In the era of electronic money – this is one
                      of the most convenient ways of cooperation.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-shipping-fast"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">Quick Withdrawal</a>
                    </h3>
                    <p>
                      All requests are treated spontaneously once requested.
                      There are high maximum limits. The minimum withdrawal
                      amount is only $60 .
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-users"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">Referral Program</a>
                    </h3>
                    <p>
                      We are offering a certain level of referral income through
                      our referral program. you can increase your income by
                      simply referring a few people.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-headset"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">24/7 Support</a>
                    </h3>
                    <p>
                      We provide 24/7 customer support through e-mail and
                      telegram. Our support representatives are periodically
                      available to elucidate any difficulty.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-server"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">Dedicated Server</a>
                    </h3>
                    <p>
                      We are using a dedicated server for the website which
                      allows us exclusive use of the resources of the entire
                      server.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="lab la-expeditedssl"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">SSL Secured</a>
                    </h3>
                    <p>
                      Comodo Essential-SSL Security encryption confirms that the
                      presented content is genuine and legitimate.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <i class="las la-shield-alt"></i>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading">
                      <a href="service-details.html">DDOS Protection</a>
                    </h3>
                    <p>
                      We are using one of the most experienced, professional,
                      and trusted DDoS Protection and mitigation provider.
                    </p>
                    <a class="read-more-area" href="service-details.html"><span class="read-more-dotted"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          
        
      <div class="portfolio-block ptb-120">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-8">
              <div class="section-title">
                <h4 class="sub-title">gallery</h4>
                <h2 class="title-main">Our <span>Company.</span></h2>
                <div class="divider"></div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="btn-links-area text-right">
                <button class="btn-links btn-prev">
                  <span class="flaticon-left-arrow"></span>
                </button>
                <button class="btn-links btn-next">
                  <span class="flaticon-right-arrow"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-carousel-main">
          <div id="portfolio-carousel" class="owl-carousel">
            <div class="portfolio-item">
              <figure class="portfolio-thumb">
                <img src="images/2.jpg" alt="portfolio Item">
                <div class="overlay-wrapper">
                  <div class="overlay"></div>
                  <div class="links">
                    <a href="/images/2.jpg" class="popup-image"><span class="fas fa-search-plus"></span></a>
                    <a href="#"><span class="fas fa-link"></span></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="portfolio-item">
              <figure class="portfolio-thumb">
                <img src="images/3.jpg" alt="portfolio Item">
                <div class="overlay-wrapper">
                  <div class="overlay"></div>
                  <div class="links">
                    <a class="popup-image" href="/images/3.jpg"><span class="fas fa-search-plus"></span></a>
                    <a href="#"><span class="fas fa-link"></span></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="portfolio-item">
              <figure class="portfolio-thumb">
                <!-- <img src="https://futuretrades.co/assets/templates/bit_gold//assets/images/portfolio/4.jpg" alt="portfolio Item"> -->
                <div class="overlay-wrapper">
                  <div class="overlay"></div>
                  <div class="links">
                    <a class="popup-image" href="/images/4.jpg"><span class="fas fa-search-plus"></span></a>
                    <a href="#"><span class="fas fa-link"></span></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="portfolio-item">
              <figure class="portfolio-thumb">
                <img src="images/6.jpg" alt="portfolio Item">
                <div class="overlay-wrapper">
                  <div class="overlay"></div>
                  <div class="links">
                    <a class="popup-image" href="/images/portfolio/6.jpg"><span class="fas fa-search-plus"></span></a>
                    <a href="#"><span class="fas fa-link"></span></a>
                  </div>
                </div>
              </figure>
            </div>

            <div class="portfolio-item">
              <figure class="portfolio-thumb">
                <img src="images/7.jpg" alt="portfolio Item">
                <div class="overlay-wrapper">
                  <div class="overlay"></div>
                  <div class="links">
                    <a class="popup-image" href="/images/portfolio/7.jpg"><span class="fas fa-search-plus"></span></a>
                    <a href="#"><span class="fas fa-link"></span></a>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
            
        
      <!-- <div class="choose-us-block ptb-120">
        <div
          class="choose-bg-img bg-image bg-overlay-gradient"
          style="background-image: url(&#x27;images/fanfact.jpg&#x27;)"
        ></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="choose-us-content">
                <div class="section-title">
                  <h4 class="sub-title">calculate</h4>
                  <h2 class="title-main">Profit <span>Calculator.</span></h2>
                  <div class="divider"></div>
                </div>
                <div class="filter-choose-tab">
                  <div class="row">
                    <div class="col-lg-12 mb-5">
                      <select class="form-controller" id="changePlan">
                        <option value="24">Premium Package</option>
                        <option value="23">Silver</option>
                        <option value="22">Golden</option>
                        <option value="21">Diamond</option>
                        <option value="20">Diamond Pro</option>
                        <option value="19">Topaz Mining</option>
                        <option value="18">Emrald Mining</option>
                        <option value="17">Crystal Mining</option>
                        <option value="16">Sapphire Mining</option>
                      </select>
                    </div>
                    <div class="col-lg-12 mb-5">
                      <input
                        type="text"
                        name="#0"
                        id="#0"
                        placeholder="0.00"
                        class="form-controller invest-input"
                        onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')"
                      />
                    </div>
                    <div class="col-lg-12">
                      <input
                        type="text"
                        class="form-controller profit-input"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <!-- <div class="pricing-block ptb-120">
        <div class="container ml-b-30">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-title text-center">
                <h4 class="sub-title">Our Plan</h4>
                <h2 class="title-main">
                  Investment Plans <span>Just For You.</span>
                </h2>
                <div class="divider"></div>
              </div>
            </div>
          </div>

          <div class="row pricing-table-list">
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">8%</h1>
                  <h2 class="pricing-title">Silver</h2>
                </div>
                <div class="package-price">$60 - $549</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 24 Hours</li>
                    <li>
                      Total 8% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":23,"name":"Silver","minimum":"60","maximum":"549","fixed_amount":"0","interest":"8","interest_status":1,"times":"24","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:32:06.000000Z","updated_at":"2021-05-13T08:47:41.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">12%</h1>
                  <h2 class="pricing-title">Golden</h2>
                </div>
                <div class="package-price">$550 - $3499</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 48 Hours</li>
                    <li>
                      Total 12% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":22,"name":"Golden","minimum":"550","maximum":"3499","fixed_amount":"0","interest":"12","interest_status":1,"times":"48","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:31:38.000000Z","updated_at":"2021-05-13T13:29:53.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">16%</h1>
                  <h2 class="pricing-title">Diamond</h2>
                </div>
                <div class="package-price">$3500 - $7999</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 72 hours</li>
                    <li>
                      Total 16% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":21,"name":"Diamond","minimum":"3500","maximum":"7999","fixed_amount":"0","interest":"16","interest_status":1,"times":"72","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:28:51.000000Z","updated_at":"2021-05-13T13:30:58.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">20%</h1>
                  <h2 class="pricing-title">Diamond Pro</h2>
                </div>
                <div class="package-price">$8000 - $15000</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 96 Hours</li>
                    <li>
                      Total 20% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":20,"name":"Diamond Pro","minimum":"8000","maximum":"15000","fixed_amount":"0","interest":"20","interest_status":1,"times":"96","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:28:19.000000Z","updated_at":"2021-05-13T13:31:48.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">40%</h1>
                  <h2 class="pricing-title">Topaz Mining</h2>
                </div>
                <div class="package-price">$1500 - $4499</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 5 Days</li>
                    <li>
                      Total 40% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":19,"name":"Topaz Mining","minimum":"1500","maximum":"4499","fixed_amount":"0","interest":"40","interest_status":1,"times":"120","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:23:41.000000Z","updated_at":"2021-05-13T13:34:06.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="pricing-box" data-animate="hg-fadeInUp">
                <div class="pricing-header">
                  <h1 class="sub-title">65%</h1>
                  <h2 class="pricing-title">Emrald Mining</h2>
                </div>
                <div class="package-price">$4500 - $8999</div>
                <div class="pricing-content">
                  <ul class="list">
                    <li>After 10 Days</li>
                    <li>
                      Total 65% +
                      <span class="badge badge-success">Capital</span>
                    </li>
                    <li>Referral commission 5%</li>
                  </ul>
                </div>
                <div class="pricing-footer text-center">
                  <a
                    href="javascript:void(0)"
                    data-toggle="modal"
                    data-target="#depoModal"
                    data-resource='{"id":18,"name":"Emrald Mining","minimum":"4500","maximum":"8999","fixed_amount":"0","interest":"65","interest_status":1,"times":"240","status":1,"featured":1,"capital_back_status":1,"lifetime_status":0,"repeat_time":"1","created_at":"2021-04-18T21:22:34.000000Z","updated_at":"2021-05-13T11:57:59.000000Z"}'
                    class="btn-pricing investButton"
                    >Invest Now</a
                  >
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div> -->
      
      <!-- <div class="services-block bg-white-smoke ptb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-title text-center">
                <h4 class="sub-title">Investors</h4>
                <h2 class="title-main">Our Top <span>Investors.</span></h2>
                <div class="divider"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div
                class="services-items-carousel owl-carousel carousel-nav-circle"
              >
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">Bialbarnabas</a></h3>
                    <p>Investment - $1500425.97</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">JOSTAM21</a></h3>
                    <p>Investment - $286357.13</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">Dimodanmimi</a></h3>
                    <p>Investment - $271461.62</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">Mubeen223</a></h3>
                    <p>Investment - $248388.01</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">0758309292</a></h3>
                    <p>Investment - $128324.07</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
                <div class="service-item">
                  <div class="service-icon">
                    <div
                      class="
                        investor-card__thumb
                        bg_img
                        background-position-y-top
                      "
                      data-background="https://futuretrades.co/placeholder-image/800x800"
                    ></div>
                  </div>
                  <div class="service-info">
                    <div class="service-divider"></div>
                    <h3 class="heading"><a href="#">Veronica</a></h3>
                    <p>Investment - $127600.00</p>
                    <a class="read-more-area" href="#"
                      ><span class="read-more-dotted"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="work-brand-block pd-t-70 pd-b-120">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="brands-slider">
                <ul>
                  <li><img src="fonts/binance.svg" alt="logo"></li>
                  <li><img src="fonts/bitfinex.svg" alt="logo"></li>
                  <li><img src="fonts/bithumb.svg" alt="logo"></li>
                  <li><img src="fonts/coinbase.svg" alt="logo"></li>
                  <li><img src="fonts/kucoin.svg" alt="logo"></li>
                  <li><img src="fonts/poloniex.svg" alt="logo"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

            <!-- <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <h4 class="sub-title">Money</h4>
                            <h2 class="title-main">Deposits <span>&</span> Withdrawals  </h2>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            <div class="row">
            <div class="col-md-6">
              <div class="section-wrapper wow bounceInLeft" data-wow-duration="2s">
                <div class="text-center">
                    <h4>Latest Deposits</h4>
                </div>
                <div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                                            <tr>
                                                  <td data-label="Name">
                              Annabelle Prince                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Simone Koos                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Kate Maurice                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Rebecca Xavier                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Alex Kerran                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Solly Naaz                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 20000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Landiwe Sylvia Nhlozi                          </td>
                          <td data-label="Date">2021-10-23</td>
                          <td data-label="Amount">$ 100</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Luisa Irma                          </td>
                          <td data-label="Date">2021-10-23</td>
                          <td data-label="Amount">$ 10000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Samantha Pillay                          </td>
                          <td data-label="Date">2021-10-22</td>
                          <td data-label="Amount">$ 3000</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Nash Haripersad                          </td>
                          <td data-label="Date">2021-10-21</td>
                          <td data-label="Amount">$ 75</td>
                                              </tr>
                                          </tbody>
                  </table>
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="section-wrapper wow bounceInRight" data-wow-duration="2s">
                  <div class="text-center">
                        <h4>Latest Withdrawals</h4>
                   </div>
                <div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                                             <tr>
                                                  <td data-label="Name">
                              Solly Naaz                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 2255.75</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Nash Haripersad                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 18.9</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Nash Haripersad                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 75.58</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Lalinya Brantley                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 6375.92</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Zamani Ndimande                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 3815.46</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Melokuhle Iveson                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 2498.6</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Uhuru Black                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 3596.03</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Thulile ZahZah                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 1599.54</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Gregory Zithulele                          </td>
                          <td data-label="Date">2021-10-24</td>
                          <td data-label="Amount">$ 3852.56</td>
                                              </tr>
                                            <tr>
                                                  <td data-label="Name">
                              Jacob Siyanbonga                          </td>
                          <td data-label="Date">2021-10-23</td>
                          <td data-label="Amount">$ 7902.39</td>
                                              </tr>
                                          </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
            </div> -->

        </div>           

      <div class="modal fade" id="depoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content modal-content-bg">
            <div class="modal-header">
              <strong class="modal-title text-white" id="ModalLabel">
                Account Login
              </strong>
              <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </a>
            </div>
            <form action="login" method="post" class="register">
              <input type="hidden" name="_token" value="IO7ot632rq6IGlzhbwAwXrOYzVDloI0Rm6DyrSyy">
              <div class="modal-footer">
                <a href="login" type="button" class="btn btn-success custom-success w-100">Please login to your account first</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <footer class="site-footer pd-t-120 mrt-70">
            
    <div class="footer-info-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-info-content">
              <div class="row ml-b-30">
                <div class="col-lg-4 col-md-6">
                  <div class="single-info">
                    <div class="icon">
                      <span class="flaticon-placeholder"></span>
                    </div>
                    <div class="info">
                      <h5>Address</h5>
                      <p>
                        21 Rue Glesener, 1631 Luxembourg
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-info"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-info">
                    <div class="icon">
                      <span class="flaticon-envelope"></span>
                    </div>
                    <div class="info">
                      <h5>Email</h5>
                      <p>
                        <a href="mailto:support@blockmolders.com">support@blockmolders.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        
    <div class="footer-widget-area pd-b-60">
      <div class="container pd-t-70">
        <div class="row">
          <div class="col-lg-4">
            <aside class="widget widget_about">
              <h2 class="widget-title">
                About Us <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <p>
                  Blockmolders is a company regulated by the Securities and
                  Exchange Commision (SEC).
                </p>
              </div>
            </aside>
          </div>

          <div class="col-lg-2">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                Services <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li><a hrefs="/">Forex</a></li>
                  <li>
                    <a hrefs="/">Synthetic indices</a>
                  </li>
                  <li>
                    <a hrefs="/">Stock indices</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>

          <div class="col-lg-2">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                Useful Link <span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li>
                    <a href="/about">About Us</a>
                  </li>

                 

                  
                    <li><a href="/register">Investment Plan</a></li>
                

                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
          

          <div class="col-lg-4">
            <aside class="widget widget_links">
              <h2 class="widget-title">
                account<span class="divider"></span>
              </h2>
              <div class="widget-content">
                <ul>
                  <li><a href="/login">Login</a></li>
                  <li>
                    <a href="/register">Register</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>

        
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text text-center">
              <p>
                © 2021 <a hrefs="/">Blockmolders</a>.
                All rights reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>



<div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/meanmenu.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/background-parallax.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/theia-sticky-sidebar.min.js"></script>
<script src="js/ResizeSensor.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/packery-mode.pkgd.min.js"></script>
<script src="js/simple-scrollbar.min.js"></script>
<script src="js/scrolla.jquery.min.js"></script>
<!-- <script src="https://futuretrades.co/assets/templates/bit_gold//assets/js/odometer.min.js"></script> -->
<script src="js/lightcase.js"></script>
<script src="js/isInViewport.jquery.js"></script>
<!-- <script src="https://futuretrades.co/assets/templates/bit_gold//assets/js/jquery.jConveyorTicker.min.js"></script> -->
<script src="js/main.js"></script>
<!-- <script src="https://futuretrades.co/assets/templates/bit_gold//js/vendor/bootstrap.bundle.min.js"></script> -->
<script src="js/slick.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/app.js"></script>

<link rel="stylesheet" href="css/iziToast.min.css">
<script src="js/iziToast.min.js"></script>

<script>
  "use strict";
  function notify(status, message) {
    iziToast[status]({
      message: message,
      position: "topRight",
    });
  }
</script>

<script>
  (function ($) {
    "use strict";
    $(document).ready(function () {
      $("#changePlan").on("change", function () {
        var planId = $("#changePlan option:selected").val();
        var investAmount = $(".invest-input").val();
        var profitInput = $(".profit-input").val("");

        $(".period").text("");

        if (investAmount != "" && planId != null) {
          ajaxPlanCalc(planId, investAmount);
        }
      });

      $(".invest-input").on("change", function () {
        var planId = $("#changePlan option:selected").val();
        var investAmount = $(this).val();
        var profitInput = $(".profit-input").val("");
        $(".period").text("");
        if (investAmount != "" && planId != null) {
          ajaxPlanCalc(planId, investAmount);
        }
      });
    });
    function ajaxPlanCalc(planId, investAmount) {
      $.ajax({
        url: "https://futuretrades.co/planCalculator",
        type: "post",
        data: {
          planId,
          investAmount,
        },
        success: function (response) {
          var alertStatus = "";
          if (response.errors) {
            iziToast.error({
              message: response.errors,
              position: "topRight",
            });
          } else {
            var msg = `${response.description}`;
            $(".profit-input").val(msg);
            if (response.netProfit) {
              $(".period").text("Net Profit " + response.netProfit);
            }
          }
        },
      });
    }
  })(jQuery);
</script>

<script>
  (function ($) {
    "use strict";
    $(document).on("click", ".investButton", function () {
      var data = $(this).data("resource");
      var symbol = "$";
      var currency = "USD";

      $("#mySelect").empty();

      if (data.fixed_amount == "0") {
        $(".investAmountRenge").text(
          `invest: ${symbol}${data.minimum} - ${symbol}${data.maximum}`
        );
        $(".fixedAmount").val("");
        $("#fixedAmount").attr("readonly", false);
      } else {
        $(".investAmountRenge").text(
          `invest: ${symbol}${data.fixed_amount}`
        );
        $(".fixedAmount").val(data.fixed_amount);
        $("#fixedAmount").attr("readonly", true);
      }

      if (data.interest_status == "1") {
        $(".interestDetails").html(
          `<strong> Interest: ${data.interest} % </strong>`
        );
      } else {
        $(".interestDetails").html(
          `<strong> Interest: ${data.interest} ${currency}  </strong>`
        );
      }
      if (data.lifetime_status == "0") {
        $(".interestValidaty").html(
          `<strong>  per ${data.times} hours ,  ${data.repeat_time} times</strong>`
        );
      } else {
        $(".interestValidaty").html(
          `<strong>  per ${data.times} hours,  life time </strong>`
        );
      }

      $(".planName").text(data.name);
      $(".plan_id").val(data.id);
    });
  })(jQuery);
</script>

<script>
  (function () {
    "use strict";
    $(document).on("change", ".langSel", function () {
      window.location.href =
        "https://futuretrades.co/change/" + $(this).val();
    });
  })();
</script>

<!-- <script type="text/javascript">
  var _smartsupp = _smartsupp || {};
  _smartsupp.key = "4cb8546968613611303eca35a60b7fba3f60ad64";
  window.smartsupp ||
    (function (d) {
      var s,
        c,
        o = (smartsupp = function () {
          o._.push(arguments);
        });
      o._ = [];
      s = d.getElementsByTagName("script")[0];
      c = d.createElement("script");
      c.type = "text/javascript";
      c.charset = "utf-8";
      c.async = true;
      c.src = "https://www.smartsuppchat.com/loader.js?";
      s.parentNode.insertBefore(c, s);
    })(document);
</script> -->


<center>
        
  <div id="google_translate_element"></div>
</center>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="js/element.js"></script>


</div>
      
     

 


</body></html>